body {
  background-image: url('http://www.lypowystudio.com/assets_d/52045/web_media/sm_bbb_background_film_110.jpg');
  background-size: cover;
}

.header {
  font-size: 75px;
  text-align: center;
  color: #ce9a56;
  font-family: 'Kaushan Script';
  height: 70px;
}


.section1 {
  text-align: center;
 }

.search-btn{
  background-color :#edc795;
  padding: 5px 10px;
  border-radius: 6px;
  color: #3a2104;
  font-weight: bold;
}

.search-btn:hover{
  color: white;
  background-color: #c69049;

}

.search-query{
  border-color: #edc795;
  width: 230px;
  height: 20px;
  border-radius:6px;
  padding: 3px;
  color: #664416;
}

::placeholder {
    color:  #664416;
    opacity: 1; /* Firefox */
}


.search-query:hover{
  border-color: #634a28;
  cursor: pointer;
}





.search-results{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}


.image1{
  margin-top: 50px;
  border: 1px solid;
  margin-right: 10px;
 }


.title{color: #ce9a56; font-weight: 900; }

.span1{color: #e5ceb3;}
.span2{color: #e5ceb3;}

.overview{color: #845a29;
font-weight: bold;
text-decoration: underline;
}

.result{display: flex; justify-content: flex-end;}



.divLeft{text-align:left; }
.divRight{padding-top: 26px;
  text-align:left;
  width: 700px;
padding-right: 50px;
margin-right: 100px;}
